name: Run web scraper

on: [workflow_dispatch]

jobs:
     build:
        runs-on: ubuntu-latest
        steps:

          - name: Checkout Repository
            uses: actions/checkout@v3
          
          - name: Setup Python
            uses: actions/setup-python@v4
            with:
              python-version: '3.9'

          - name: Install Python Packages
            run: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt

          - name: Execute Script
            run: |
              python scrapin_atual.py
              python scraping_courses.py
              python scraping_cursos.py
              python scraping_ementa.py
              python scraping_id_departamentos.py
              python scraping_sigaa.py
              python scraping_turmas_por_depto.py
              python scraping.py
              python script_json_para_txt.py
              python sigaa_scraper.py
              python temp_parser.py

          - name: Commit Changes
            uses: stefanzweifel/git-auto-commit-action@v4
            with:
              commit_message: "Update estruturas curriculares [automated]"
              file_pattern: "dados/estruturas-curriculares/*.json"
